<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

{{ $placeholder := resources.Get "img/placeholder.svg" }}


<div class="relative w-full plakarium-background bg-neutral-100">
  <div class="relative z-10  mx-auto bg-neutral-100 ">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ $react := resources.Get "js/bundle.js" | js.Build (dict "minify" true) }}
  </div>
</div>
{{ partial "scripts.html" . }}
</body>
</html>
