<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>

{{ $placeholder := resources.Get "img/placeholder.svg" }}


<div
        x-data="{
            isSmallScreen: window.innerWidth < 1280,
            sidebarOpened: localStorage.getItem('sidebarState') === 'open' && document.referrer.includes(window.location.hostname),
            toggleSidebar(state) {
                this.sidebarOpened = state;
                localStorage.setItem('sidebarState', state ? 'open' : 'closed');
            },
            checkScreenSize() {
                this.isSmallScreen = window.innerWidth < 1280;
            }
        }"
        x-init="
            checkScreenSize();
            window.addEventListener('resize', () => checkScreenSize());
        "
        @mousemove.window="isSmallScreen && sidebarOpened === false && $event.clientX < 24 ? toggleSidebar(true) : null"
        @mouseleave.window="isSmallScreen ? toggleSidebar(false) : null"
        class="relative w-full"
>
    {{- if eq .Section "docs" -}}
        {{ partial "header/docs/header.html" . }}
        <div class="relative z-10 bg-neutral-50 flex flex-row font-grotesk">
            <button
                    @click="toggleSidebar(true)"
                    x-show="isSmallScreen && !sidebarOpened"
                    x-transition
                    style="transform: rotate(-90deg); transform-origin: left center;"
                    class="fixed top-28 md:top-40 left-3 z-50 flex items-center gap-2 bg-neutral-50/50 backdrop-blur rounded-m"
            >
                <span class="tracking-widest text-sm">NAV</span>
                <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <aside
                    :class="isSmallScreen ? (sidebarOpened ? 'w-64' : 'w-0') : 'w-64'"
                    class="fixed left-0 h-[calc(100vh-50px)] md:h-[calc(100vh-88px)] transition-all duration-300 bg-white border-r border-neutral-300 flex flex-col"
                    @mouseleave="isSmallScreen ? toggleSidebar(false) : null"
            >
            <div class="flex-grow">
                    {{ partial "sidebar/docs-menu.html" . }}
                </div>
            </aside>
            <div class="flex flex-row w-full">
                <div :class="isSmallScreen ? (sidebarOpened ? 'ml-64' : 'ml-0') : 'ml-64'" class="relative max-w-[1280px] mx-auto w-full">
                    {{ block "main" . }}{{ end }}
                </div>

            </div>

        </div>

    {{ else }}
        <div class="relative z-10  mx-auto">
            {{ partial "header/corporate/header.html" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "footer.html" . }}
        </div>
    {{ end }}
</div>
{{ $react := resources.Get "js/bundle.js" | js.Build (dict "minify" true) }}
{{ partial "scripts.html" . }}
</body>
</html>
