{{ $riArrowRightLine := resources.Get "img/ri/arrow-right-line.svg" }}
{{ $riDatabaseLine := resources.Get "img/ri/database-line.svg" }}
{{ $riFolder2Line := resources.Get "img/ri/folder-2-line.svg" }}
{{ $riServerLine := resources.Get "img/ri/server-line.svg" }}
{{ $riEarthLine := resources.Get "img/ri/earth-line.svg" }}
{{ $riDatabase2Line := resources.Get "img/ri/database-2-line.svg" }}
{{ $riMacbookLine := resources.Get "img/ri/macbook-line.svg" }}
{{ $riBox3Line := resources.Get "img/ri/box-3-line.svg" }}
{{ $riTerminalWindowLine := resources.Get "img/ri/terminal-window-line.svg" }}
{{ $riCollapseDiagonalLine := resources.Get "img/ri/collapse-diagonal-line.svg" }}
{{ $riPuzzle2Line := resources.Get "img/ri/puzzle-2-line.svg" }}
{{ $riGitMergeLine := resources.Get "img/ri/git-merge-line.svg" }}
{{ $nestorInline := resources.Get "img/nestor-inline.svg" }}

<!-- Integrations and  storage -->
<div class="flex-1 flex flex-wrap justify-center items-center w-full p-2">

    <div class="flex flex-row w-full gap-1 md:gap-3 justify-center items-stretch overflow-hidden">

        <!-- Integrations -->
        <div class="flex flex-col bg-neutral-50 rounded-lg overflow-hidden flex-1 h-full    ">
            <div class="flex items-center justify-center h-8 md:h-16 bg-neutral-50">
                <h4 class="~text-xs/lg font-semibold font-space-grotesk text-neutral-900 leading-normal">
                    Integrations</h4>
            </div>
            <div class="border-t border-neutral-200"></div>
            <div class="flex-1 p-3 flex flex-col gap-1">
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riFolder2Line.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">Filesystem</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riDatabase2Line.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">Database</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riMacbookLine.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">SaaS</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riBox3Line.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">Objects</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center justify-center gap-3 px-1 md:py-2">
                    <span class="~text-xs/sm font-bold text-neutral-600 font-space-grotesk text-center leading-tight">...</span>
                </div>
            </div>
        </div>

        <!-- Arrow -->
        <div class="flex justify-center items-center">
            <div class="size-4 md:size-8 xl:size-10 rounded-full bg-neutral-900 flex justify-center items-center transform transition-all">
                <div class="w-2 h-2 md:w-4 md:h-4 xl:w-5 xl:h-5 text-neutral-50">{{ $riArrowRightLine.Content | safeHTML }}</div>
            </div>
        </div>

        <!-- Kloset Core -->
        <div class="flex flex-col rounded-lg overflow-hidden flex-1 relative">
            <div class="absolute inset-0 bg-gradient-to-b from-secondary-100 via-secondary-400 to-secondary-500"
                 style="background-image: linear-gradient(180deg, theme(colors.secondary.100) 23%, theme(colors.secondary.400) 51%, theme(colors.secondary.500) 100%);"></div>
            <div class="relative z-10 flex flex-col">
                <div class="flex items-center justify-center h-8 md:h-16 bg-transparent">
                    <div class="flex items-center gap-3">
                        <div class="w-4 h-4 md:w-6 md:h-6">{{ $nestorInline.Content | safeHTML }}</div>
                        <span class="~text-sm/lg font-medium font-space-grotesk text-neutral-900">Kloset</span>
                    </div>
                </div>
                <div class="flex-1 p-2 lg:p-4 grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div class="flex flex-col items-center justify-center p-1 md:p-3 bg-neutral-100/50 rounded-sm border border-neutral-400/50 backdrop-blur-md text-center">
                        <div class="w-3 h-3 md:w-5 md:h-5">{{ $riTerminalWindowLine.Content | safeHTML }}</div>
                        <span class="~text-xxs/xs font-bold font-space-grotesk text-neutral-900 md:mt-2">Encryption</span>
                    </div>
                    <div class="flex flex-col items-center justify-center p-1 md:p-3 bg-neutral-100/50 rounded-sm border border-neutral-400/50 backdrop-blur-md text-center">
                        <div class="w-3 h-3 md:w-5 md:h-5">{{ $riCollapseDiagonalLine.Content | safeHTML }}</div>
                        <span class="~text-xxs/xs font-bold font-space-grotesk text-neutral-900 md:mt-2">Compression</span>
                    </div>
                    <div class="flex flex-col items-center justify-center p-1 md:p-3 bg-neutral-100/50 rounded-sm border border-neutral-400/50 backdrop-blur-md text-center">
                        <div class="w-3 h-3 md:w-5 md:h-5">{{ $riPuzzle2Line.Content | safeHTML }}</div>
                        <span class="~text-xxs/xs font-bold font-space-grotesk text-neutral-900 md:mt-2">Deduplication</span>
                    </div>
                    <div class="flex flex-col items-center justify-center p-1 md:p-3 bg-neutral-100/50 rounded-sm border border-neutral-400/50 backdrop-blur-md text-center">
                        <div class="w-3 h-3 md:w-5 md:h-5">{{ $riGitMergeLine.Content | safeHTML }}</div>
                        <span class="~text-xxs/xs font-bold font-space-grotesk text-neutral-900 md:mt-2">Versioning</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Arrow -->
        <div class="flex justify-center items-center">
            <div class="size-4 md:size-8 xl:size-10 rounded-full bg-neutral-900 flex justify-center items-center transform transition-all">
                <div class="w-2 h-2 md:w-4 md:h-4 xl:w-5 xl:h-5 text-neutral-50">{{ $riArrowRightLine.Content | safeHTML }}</div>
            </div>
        </div>

        <!-- Storage Connectors -->
        <div class="flex flex-col bg-neutral-50 rounded-lg overflow-hidden flex-1 h-full">
            <div class="flex items-center justify-center text-center h-8 md:h-16 bg-neutral-50">
                <h4 class="~text-xs/lg font-semibold font-space-grotesk text-neutral-900 leading-normal">
                    Storage Connectors</h4>
            </div>
            <div class="border-t border-neutral-200"></div>
            <div class="flex-1 p-3 flex flex-col gap-1">
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riDatabaseLine.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">S3</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riFolder2Line.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">Local</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riServerLine.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">SFTP</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center gap-3 px-1 md:py-2">
                    <div class="w-3 h-3 md:w-5 md:h-5">{{ $riEarthLine.Content | safeHTML }}</div>
                    <span class="~text-xs/sm font-medium text-neutral-600 font-space-grotesk leading-tight">Cloud</span>
                </div>
                <div class="border-t border-neutral-200"></div>
                <div class="flex items-center justify-center gap-3 px-1 md:py-2">
                    <span class="~text-xs/sm font-bold text-neutral-600 font-space-grotesk text-center leading-tight">...</span>
                </div>
            </div>
        </div>

    </div>

</div>