{{ if .Site.Params.discord.enabled | default false }}
    {{ $discordInviteCode := .Site.Params.discord.inviteCode | default "" }}
    {{ $riDiscordFill := resources.Get "img/ri/discord-fill.svg" }}

    <!-- for tailwind safelist -->
    <span class="hover:text-neutral-50"></span>

    {{ partial "cta/based-button.html" (dict
            "href" (print "https://discord.gg/" $discordInviteCode)
            "target" "_blank"
            "label" "Chat with us"
            "labelShort" "Chat with us"
            "icon" $riDiscordFill
            "bgHoverColor" "bg-neutral-900"
            "textHoverColor" "text-neutral-50"
            "bgColor" "bg-transparent"
            "border" "border"
            "borderColor" "border-neutral-900"
            "textColor" "text-neutral-900"
            "flex" "flex w-full"
            ) }}
{{ end }}

