    <!-- for tailwind safelist -->
    <span class="hover:text-neutral-50"></span>

    {{ partial "cta/based-button.html" (dict
            "href" "/posts/"
            "label" "See all stories"
            "labelShort" "See all stories"
            "bgHoverColor" "bg-neutral-900"
            "textHoverColor" "text-neutral-50"
            "bgColor" "bg-transparent"
            "border" "border"
            "borderColor" "border-neutral-900"
            "textColor" "text-neutral-900"
            ) }}

