    <!-- for tailwind safelist -->
    <span class="hover:text-neutral-50"></span>

    {{ partial "cta/based-button.html" (dict
            "href" "https://docs.plakar.io/en/index.html"
            "target" "_blank"
            "label" "Technical docs"
            "labelShort" "Tech docs"
            "bgHoverColor" "bg-neutral-50"
            "textHoverColor" "text-neutral-900"
            "bgColor" "bg-neutral-300"
            "border" "border"
            "borderColor" "border-neutral-900"
            "textColor" "text-neutral-900"
            ) }}

