<!-- Title -->
<section class="section-light-2 grid-background px-4 pt-20 pb-7">
    <div class="content flex flex-col justify-between items-end gap-10">

        <div class="w-full flex flex-col items-start gap-6 px-4">
            <h1 class="self-stretch text-center justify-start font-medium ~text-4xl/6xl">
                {{ .Title | emojify }}
            </h1>
        </div>
        <div class="self-stretch text-center justify-start text-neutral-600 ~text-lg/xl">
            {{ .Description | emojify }}
        </div>
    </div>
</section>
