{{ $debug := false }}

<!-- Article categories navigation -->
<div class="section-wrapper bg-neutral-100"
     style="--pattern-fg: var(--color-neutral-300); --border-color: var(--color-neutral-300);">

    {{ $currentSection := "unknown" }}
    {{ $currentCategory := "unknown" }}
    {{ $categories := slice }}

    {{ if eq .Section "categories" }}
        <!-- We are in a taxonomy / category page -->
        {{ $allPages := .Site.RegularPages }}

        {{ $postPages := where $allPages "Section" "posts" }}
        {{ $connectorPages := where $allPages "Section" "connectors" }}

        {{ $postCategories := slice }}
        {{ range $postPages }}
            {{ range .Params.categories }}
                {{ if not (in $postCategories .) }}
                    {{ $postCategories = $postCategories | append (. | urlize)  }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ $connectorCategories := slice }}
        {{ range $connectorPages }}
            {{ range .Params.categories }}
                {{ if not (in $connectorCategories .) }}
                    {{ $connectorCategories = $connectorCategories | append (. | urlize)  }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ $currentCategory  = .Title | lower | urlize }}

        {{ if in $postCategories $currentCategory  }}
            {{ $currentSection = "posts" }}
            {{ $categories = uniq $postCategories }}
        {{ else if in $connectorCategories $currentCategory  }}
            {{ $currentSection = "connectors" }}
            {{ $categories = uniq $connectorCategories }}
        {{ else }}
            <!-- Did you add a new section ? -->
        {{ end }}
    {{ if eq $debug true }}
        <p>$postCategories: {{$postCategories}}</p>
        <p>$connectorCategories: {{$connectorCategories}}</p>
    {{ end }}
    {{ else }}
        <!-- We are in a section page -->
        {{ $currentCategory := .Page.Title | lower | urlize }}
        {{ $currentSection := .Section }}
        {{ $pages := where .Site.RegularPages "Section" $currentSection }}
        {{ range $pages }}
            {{ range .Params.categories }}
                {{ if not (in $categories .) }}
                    {{ $categories = $categories | append (. | urlize)}}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}


    {{ if eq $debug true }}
        <p>$currentCategory: {{$currentCategory}}</p>
        <p>$currentSection: {{$currentSection}}</p>
        <p>$categories: {{$categories}}</p>
    {{ end }}

    <section id="categories" class="bg-neutral-100 text-neutral-900 px-[0px] scroll-mt-20">
        <div class="content border border-neutral-300">
            <div class="w-full px-6 md:px-12 py-6  flex flex-wrap items-center max-w-[1340px] mx-auto gap-0 lg:gap-3">
                <a href="/{{ $currentSection }}/#categories">
                    <button class="h-12 px-2 py-3.5 {{ if eq .Kind "section" }}bg-primary-500 text-white {{ else }} hover:bg-neutral-300 transition {{ end }}  text-sm font-dm-mono uppercase rounded-sm ">
                        All
                    </button>
                </a>
                {{ range $name := $categories }}
                    <a href="/categories/{{ $name | urlize }}/#categories">
                        <button class="h-12 px-2 py-3.5 {{ if eq $name $currentCategory }}bg-primary-500 text-white{{ else }} hover:bg-neutral-300 transition {{ end }} text-sm font-dm-mono uppercase rounded-sm  ">{{ $name | humanize }}</button>
                    </a>
                {{ end }}
            </div>
        </div>
    </section>
</div>
