
<!-- Aticles Grid -->
<div class="section-wrapper bg-neutral-100"
     style="--pattern-fg: var(--color-neutral-300); --border-color: var(--color-neutral-300);">
    <section class="section-decorated bg-neutral-100 text-neutral-900 mx-auto max-w-[1400px]">
        <div class="content px-6 md:px-12 flex flex-col lg:flex-col justify-between items-end">

            <!-- Article Grid -->
            <div class="w-full">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                {{ if gt .Pages 0 }}
                    {{ range .Pages }}
                        {{ partial "article/card-integrations.html" . }}
                    {{ end }}
                {{ end }}
                </div>
            </div>
        </div>
    </section>
</div>

