.logo svg {
    height: 4rem;
    width: 10rem;
}

.title-dash {
    position: relative;
    padding-left: 30px;
}
.title-dash::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    background-color: rgb(var(--color-primary-700));
    height: 2px;
    width: 20px;
    margin-top: -1px;
}

.title-dash.white::before {
    background-color: white;
}

.overlay-img:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('/img/overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    z-index: -1;
}