{{ if .Site.Params.footer.showGithubBadge | default false }}
{{ $githubOrganization := .Site.Params.github.organization | default "" }}
{{ $githubRepository := .Site.Params.github.repository | default "" }}
<a class="github-stars flex items-center space-x-2" href="https://github.com/{{$githubOrganization}}/{{$githubRepository}}"
   target="_blank" aria-label="Visit us on Github">
    <i class="ri-github-fill text-black dark:text-white hover:text-gray-300 dark:hover:text-gray-700"></i>
</a>
{{ end }}