{{ define "main" }}
    {{ $riCornerDownRightLine := resources.Get "img/ri/corner-down-right-line.svg" }}
    {{ $riGithubFill := resources.Get "img/ri/github-fill.svg" }}
    {{ $riLinkedInBoxFill := resources.Get "img/ri/linkedin-box-fill.svg" }}
    {{ $riDiscordFill := resources.Get "img/ri/discord-fill.svg" }}


    <!-- Title -->
    <section class="section-light-2 grid-background px-4 pt-10 pb-7">
        <div class="content flex flex-col items-center gap-2 text-center ">


            <div class="flex flex-col items-start text-start gap-2 max-w-[calc(680px+32px)]">
                <!-- Title -->
                <h1 class="font-space-grotesk font-medium leading-tight ~text-2xl/5xl">
                    {{ .Title | emojify }}
                </h1>

                <!-- Metadata -->
                <div class="flex flex-wrap justify-center items-center gap-2 font-dm-mono uppercase text-neutral-400 ~text-xs/sm">
                    <!-- Category -->
                    <div class="inline-flex items-center gap-2 text-primary-500 font-dm-mono capitalize ~text-xs/sm">
                            <span>    {{ $categories := .GetTerms "categories" }}
                                {{ range $i, $category := $categories }}
                                    {{ if eq $i 0 }}{{ end }}{{ $category.LinkTitle }}{{ if lt $i (sub (len $categories) 1) }} {{ end }}
                                {{ end }}
                            </span>
                    </div>
                    <span>{{ partial "functions/date.html" .Lastmod }}</span>
                    <span>•</span>
                    <span>{{- i18n "article.word_count" .WordCount | markdownify -}}</span>
                    <span>•</span>
                    <span>{{- i18n "article.reading_time" .ReadingTime | markdownify | emojify -}}</span>
                </div>
            </div>
        </div>
    </section>
    </div>


    <!-- Illustration -->
    <section class="section-light-2 grid-background px-4 py-2">
        <div class="content flex flex-col items-center gap-8 text-center">
                <div class="max-w-[calc(680px+32px)] rounded-lg bg-white border border-neutral-300 relative">
                    <!-- Top bar with dots -->
                    <div class="w-full h-7 px-4 flex items-center gap-2 border-b border-neutral-200">
                        <div class="w-2 h-2 bg-neutral-300 rounded-full"></div>
                        <div class="w-2 h-2 bg-neutral-300 rounded-full"></div>
                        <div class="w-2 h-2 bg-neutral-300 rounded-full"></div>
                    </div>

                    <!-- Image -->
                    <div class="p-4 md:p-6">
                        {{ $image := or (.Resources.GetMatch "featured.webp") (index (.Resources.Match "featured.*") 0) }}
                        <img class="w-full h-auto object-cover rounded-sm max-h-[550px]"
                             src="{{ or $image.RelPermalink (resources.Get "img/placeholder-1600x1200.png").RelPermalink }}"
                             alt="Article image">
                    </div>
                </div>

        </div>
    </section>

    <section class="section-light-2 px-4 py-7">
        <div class="content flex flex-col xl:flex-row items-start">
                <!-- Sidebar (left) -->
                <aside class="xl:left-0 xl:sticky w-full xl:w-[calc((100%-680px+32px)/2)] max-w-[calc(680px+32px)] xl:max-w-[calc((100%-680px-32px)/2)] pb-4 xl:pe-4 lg:top-24 flex flex-col bg-neutral-100 mx-auto xl:mx-0">
                    <div class="text-sm font-prose flex flex-col gap-6 border-t border-b border-neutral-200">
                        {{ partial "toc.html" . }}
                    </div>


                </aside>

                <!-- Article content (right)  -->
                <article class="mx-auto xl:mx-0 max-w-full md:max-w-[calc(680px+32px)] p-4 lex flex-col gap-16 bg-neutral-50 overflow-hidden">

                    {{ range .GetTerms "authors" }}
                        {{ $authorKey := . | urlize | strings.TrimPrefix "/authors/" }}
                        {{ $authorData := index site.Data.authors $authorKey }}

                        <!-- Author & intro -->
                        <div class="flex gap-4 items-start pb-2">
                            <img class="w-14 h-14 rounded-full"
                                 src="{{ or (resources.Get $authorData.image).RelPermalink (resources.Get "img/placeholder-56x56.png").RelPermalink }}"
                                 alt="Author picture"/>
                            <div class="flex flex-col gap-1">
                                <div class="font-dm-mono uppercase text-sm text-neutral-900">{{ $authorData.name }}</div>
                                <div class="font-space-text text-sm text-neutral-600">{{ $authorData.bio }}</div>
                            </div>
                        </div>
                    {{ end }}
                    <p>
                        <br />
                        <hr />
                        <br />
                    </p>
                    
                    <!-- Content blocks -->
                    <div class="article-content font-prose prose ~text-base/lg">
                        {{ .Content }}
                    </div>
                    <div class="bg-neutral-200 border-b border-neutral-300 flex justify-center items-center gap-3 py-4 px-4 flex-wrap rounded-lg">
                        <div class="flex gap-4 items-center">
                            {{ partial "social/bluesky-badge.html" . }}
                            {{ partial "social/discord-badge.html" . }}
                            {{ partial "social/linkedin-badge.html" . }}
                            {{ partial "social/github-badge.html" (dict "format" "icon" "context" .) }}
                        </div>
                    </div>
                </article>

        </div>
    </section>

    <script>
        document.querySelectorAll('.article-content img').forEach(img => {
            img.addEventListener('click', () => {
                basicLightbox.create(`<img src="${img.src}" />`).show();
            });
        });
    </script>
{{ end }}