{{ $context := . }}
{{ with $context }}
    {{ $riCornerDownRightLine := resources.Get "img/ri/corner-down-right-line.svg" }}

    <div class="bg-white border border-neutral-300 p-4 flex flex-col gap-4 hover:shadow-md transition-all duration-200 outline outline-8 outline-neutral-400/20 shadow-xl rounded-lg">

        <!-- Image -->
        <div class="relative h-16 w-16 bg-neutral-50 rounded-sm overflow-hidden">
            {{ $image := or (.Resources.GetMatch "featured.webp") (index (.Resources.Match "featured.*") 0) }}
            {{ if $image }}
                <img src="{{ $image.RelPermalink }}" alt="Integration preview" class="w-full h-full object-cover rounded-lg" />
            {{ else }}
                {{ $placeholder := resources.Get "img/placeholder-400x254.png" }}
                <img src="{{ $placeholder.RelPermalink }}" alt="Placeholder" class="w-full h-full object-cover rounded-lg" />
            {{ end }}
        </div>



        <!-- Title & Optional description -->
        <div class="flex flex-col gap-2">
            <h3 class="text-[24px] leading-[1.25] font-space-grotesk font-medium text-neutral-900">
                <a href="{{ .Permalink }}" class="hover:text-primary-500 transition-colors">
                    {{ .Title | emojify }}
                </a>
            </h3>
            <!-- Category -->
            {{ $categories := .GetTerms "categories" }}
            {{ if gt (len $categories) 0 }}
                <div class="text-primary-500 text-xs font-space-grotesk font-medium">
                    {{ (index $categories 0).LinkTitle }}
                </div>
            {{ end }}
            {{ with .Params.description }}
                <p class="text-base text-neutral-600 font-space-text font-medium leading-snug">
                    {{ . | plainify }}
                </p>
            {{ end }}
        </div>
        <!-- Tags section -->
        {{ with .Params.tags }}
            {{ if (reflect.IsSlice .) }}
                <div class="flex flex-wrap gap-2 mt-1 mb-1">
                    {{ range . }}
                        <span class="h-8 px-3 bg-[#E8E8F5] rounded-[2px] flex items-center text-[#524CFF] text-[14px] font-space-text font-medium leading-[18.48px]">
          {{ . }}
        </span>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}

        <!-- CTA -->
        <a href="{{ .Permalink }}" class="inline-flex items-center gap-2 text-sm font-space-grotesk font-medium text-neutral-900 hover:text-primary-500 transition-colors">
      <span class="w-[20px] h-[20px]">
        {{ $riCornerDownRightLine.Content | safeHTML }}
      </span>
            View documentation
        </a>
    </div>
{{ end }}