<!-- Title -->
<section class="section-light-2 grid-background px-4 pt-20 pb-7">
    <div class="content flex flex-col justify-between items-end gap-10">

        <div class="w-full flex flex-col items-start gap-6 px-4">
            <h1 class="self-stretch text-center justify-start font-medium ~text-4xl/6xl">
                Plakar <span class="text-primary-500">Integrations</span>
            </h1>
        </div>
        <div class="self-stretch text-center justify-start text-neutral-600 ~text-base/xl">
            Seamlessly backup and restore data from any source to any destination
            with our growing ecosystem of integrations.
        </div>
    </div>
</section>

<!-- Title -->
<section class="section-light-2 grid-background">
    <div class="bg-gradient-section font-space-grotesk">
        <div class="content relative h-[150px] md:h-[300px] overflow-hidden">
            <div class="absolute bottom-[-80px] flex gap-4 flex-row items-center justify-center w-full">

                <!-- Card 1 -->
                <div class="w-1/4 h-[200px] md:h-[250px] lg:h-[300px] shrink-0 p-2 md:p-6 bg-neutral-50/70 backdrop-blur-[17px] rounded-lg outline outline-[8px] outline-neutral-50/60 flex flex-col gap-4 shadow-xl rotate-[-8deg] items-center">
                    <div class="~text-2xl/6xl font-bold text-neutral-900">12+</div>
                    <div class="~text-xs/2xl font-medium text-neutral-700 text-center">
                        Integrations
                    </div>
                </div>

                <!-- Card 2 (center, slightly higher) -->
                <div class="w-1/4 h-[200px] md:h-[250px] lg:h-[300px] shrink-0 p-2 md:p-6 bg-neutral-50/70 backdrop-blur-[17px] rounded-lg outline outline-[8px] outline-neutral-50/60 flex flex-col gap-4 shadow-xl z-10 -translate-y-4 items-center">
                    <div class="~text-2xl/6xl font-bold text-neutral-900">100%</div>
                    <div class="~text-xs/2xl font-medium text-neutral-700 text-center">
                        Open Source
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="w-1/4 h-[200px] md:h-[250px] lg:h-[300px] shrink-0 p-2 md:p-6 bg-neutral-50/70 backdrop-blur-[17px] rounded-lg outline outline-[8px] outline-neutral-50/60 flex flex-col gap-4 shadow-xl rotate-[8deg] items-center">
                    <div class="~text-2xl/6xl font-bold text-neutral-900">8+</div>
                    <div class="~text-xs/2xl font-medium text-neutral-700 text-center">
                        Storage connectors
                    </div>
                </div>

            </div>
        </div>



    </div>
</section>

<section class="section-light-2 py-14 lg:py-28">
    <div class="content flex flex-col gap-8">
        <!-- Title -->
        <div class="flex flex-col justify-between items-center gap-10 p-4">
            <!-- Title -->
            <h2 class="font-space-grotesk font-medium ~text-4xl/6xl text-neutral-900 leading-tight text-center">
                How Plakar <span class="text-[#FF8547]">integrations</span></br> and <span class="text-[#FF8547]">storage connectors</span> work?
            </h2>

        </div>
        <div class="flex flex-col gap-4 items-start justify-start text-left w-full text-neutral-600 font-space-grotesk ~text-base/xl  font-medium p-4">
            <!-- Subtitle -->
            <p>
                <span class="text-[#FF8547]">Integrations</span> are bundling all the necessary components to back up, restore and visualize your data source.
            </p>
            <p>
                <span class="text-[#FF8547]">Storage Connectors</span> are the components that allow you to store, retrieve and duplicate your Kloset.
            </p>
            <p>
                <span class="text-[#FF8547]">Kloset</span> is our immutable data engine that turns backups into portable, encrypted, queryable snapshots.
            </p>
        </div>

        <!-- Integrations and storage connectors -->
        {{ partial "schema/kloset-integrations-connectors.html" . }}
    </div>
</section>

{{ partial "article/list-categories-nav.html" . }}
{{ partial "article/integrations/list-grid.html" . }}
