{{ if .Params.axeptio.enabled | default false }}
<script>
    window.axeptioSettings = {
        clientId: "{{ .Params.axeptio.clientId | default "" }}",
        cookiesVersion: "{{ .Params.axeptio.cookiesVersion | default "" }}",
        googleConsentMode: {
            default: {
                analytics_storage: "denied",
                ad_storage: "denied",
                ad_user_data: "denied",
                ad_personalization: "denied",
                wait_for_update: 500
            }
        }
    };

    (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
    })(document, "script");
</script>
{{ end }}

{{ $highlightCSS := resources.Get "css/highlight.js/night-owl.min.css" | resources.Fingerprint }}
{{ $highlightJS := resources.Get "js/highlight.js/highlight.min.js" | resources.Fingerprint }}
{{ $highlightBashJS := resources.Get "js/highlight.js/languages/bash.min.js" | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $highlightCSS.Permalink }}"/>
<script src="{{ $highlightJS.Permalink }}"></script>
<script src="{{ $highlightBashJS.Permalink }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        hljs.highlightAll();
    });
</script>