<footer id="site-footer" class="py-10 print:hidden">
    <div class="container mx-auto max-w-7xl">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div id="contact" class="flex flex-col items-center justify-center">
                <div id="footer-logo" class="flex">
                {{ if .Site.Params.logoDark }}
                {{ $logo := resources.Get .Site.Params.logoDark }}
                {{ if $logo }}

                <a href="{{ "" | relLangURL }}" class="md:w-44 w-28">
                    <span class="sr-only">{{ .Site.Title | markdownify }}</span>

                    {{ if eq $logo.MediaType.SubType "svg" }}
                        <span class="object-scale-down object-left nozoom">
                {{ $logo.Content | safeHTML }}
            </span>
                    {{ else }}
                        <img src="{{ $logo.RelPermalink }}" width="{{ div $logo.Width 2 }}"
                             height="{{ div $logo.Height 2 }}"
                             class="logo max-h-[5rem] max-w-[5rem] object-scale-down object-left nozoom"
                             alt="{{ .Site.Title }}"/>
                    {{ end }}

                </a>
                {{ end }}
                {{ end }}
                </div>
                <div id="footer-social" class="flex space-x-3 pt-2 text-2xl items-center">
                {{ partial "footer/bluesky-badge.html" . }}
                {{ partial "footer/github-badge.html" . }}
                {{ partial "footer/linkedin-badge.html" . }}
                {{ partial "footer/discord-badge.html" . }}
                </div>
                {{ $contactPhoneNumber := .Site.Params.contactPhoneNumber | default "" }}
                <div id="footer-contact pt-2">
                    Call {{ $contactPhoneNumber }}
                </div>
            </div>
            <div id="support" class="flex flex-col items-center justify-center md:items-start md:justify-start">
                    <h1 class="font-bold">Support</h1>
                    {{ if .Site.Menus.footersupport }}
                        <nav class="flex flex-row pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
                            <ul class="flex flex-col list-none sm:flex-row">
                                {{ range .Site.Menus.footersupport }}
                                    <li class="flex mb-1 ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
                                        <a class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2 flex items-center"
                                           href="{{ .URL }}"
                                           title="{{ .Title }}">
                                            {{ if .Pre }}
                                                <span {{ if and .Pre .Name }} class="mr-1" {{ end }}>
                {{ partial "icon.html" .Pre }}
            </span>
                                            {{ end }}
                                            {{ .Name | markdownify }}
                                        </a>
                                    </li>
                                {{ end }}
                            </ul>
                        </nav>
                    {{ end }}
            </div>
            <div id="resources" class="flex flex-col items-center justify-center md:items-start md:justify-start">
                <h1 class="font-bold">Resources</h1>
                {{ if .Site.Menus.footerresources }}
                    <nav class="flex flex-row pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
                        <ul class="flex flex-col list-none sm:flex-row">
                            {{ range .Site.Menus.footerresources }}
                                <li class="flex mb-1 ltr:text-right rtl:text-left sm:mb-0 ltr:sm:mr-7 ltr:sm:last:mr-0 rtl:sm:ml-7 rtl:sm:last:ml-0">
                                    <a class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2 flex items-center"
                                       href="{{ .URL }}"
                                       title="{{ .Title }}">
                                        {{ if .Pre }}
                                            <span {{ if and .Pre .Name }} class="mr-1" {{ end }}>
                {{ partial "icon.html" .Pre }}
            </span>
                                        {{ end }}
                                        {{ .Name | markdownify }}
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </nav>
                {{ end }}
            </div>
            <div id="subscribe" class="flex flex-col items-center justify-center md:items-start md:justify-start">
                <h1 class="font-bold">Subscribe</h1>
                <p class="text-neutral-400 text-base">Receive product news</p>
                <form method="POST"
                      class="flex items-center space-x-4 newsletterForm" id="footerNewsletterForm">
                    <div class="relative w-full max-w-md flex-1">
                        <input
                                id="email"
                                name="email"
                                type="text"
                                placeholder="Enter your email"
                                class="w-full p-4 pr-16 rounded-r-lg rounded-l-lg border border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        />
                        <button
                                type="submit"
                                class="absolute inset-y-0 right-0 px-4 bg-blue-500 text-white font-semibold rounded-r-lg flex items-center justify-center hover:bg-blue-600"
                        >
                            <!-- Email Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2"
                                 stroke="currentColor"
                                 class="w-6 h-6">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z"
                                      fill="#080341"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="flex container mx-auto max-w-7xl pt-5">
        <div class="flex items-center justify-between mx-auto">

            {{/* Copyright */}}
            {{ if .Site.Params.footer.showCopyright | default true }}
                <p class="text-sm text-neutral-500 dark:text-neutral-400">
                    {{- with replace .Site.Params.copyright "{ year }" now.Year }}
                        {{ . | markdownify }}
                    {{- else }}
                        &copy;
                        {{ now.Format "2006" }}
                        {{ .Site.Params.Author.name | markdownify }}
                    {{- end }}
                </p>
            {{ end }}

            {{/* Theme attribution */}}
            {{ if .Site.Params.footer.showThemeAttribution | default true }}
                <p class="text-xs text-neutral-500 dark:text-neutral-400">
                    {{ $hugo := printf `<a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
        href="https://gohugo.io/" target="_blank" rel="noopener noreferrer">Hugo</a>`
                    }}
                    {{ $blowfish := printf `<a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
        href="https://blowfish.page/" target="_blank" rel="noopener noreferrer">Blowfish</a>` }}
                    {{ i18n "footer.powered_by" (dict "Hugo" $hugo "Theme" $blowfish) | safeHTML }}
                </p>
            {{ end }}

        </div>
        <script>
            {{ if not .Site.Params.disableImageZoom | default true }}
            mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
                margin: 24,
                background: 'rgba(0,0,0,0.5)',
                scrollOffset: 0,
            })
            {{ end }}
        </script>
        {{ $jsProcess := resources.Get "js/process.js" }}
        {{ $jsProcess = $jsProcess | resources.Minify | resources.Fingerprint "sha512" }}
        <script type="text/javascript" src="{{ $jsProcess.RelPermalink }}"
                integrity="{{ $jsProcess.Data.Integrity }}"></script>
        {{/* Extend footer - eg. for extra scripts, etc. */}}
        {{ if templates.Exists "partials/extend-footer.html" }}
            {{ partialCached "extend-footer.html" . }}
        {{ end }}
    </div>
</footer>
