<!-- Start Footer Area -->
<footer class="footer-area footer-eleven">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="footer-widget f-about">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="/assets/images/black-logo.png" alt="#" class="img-fluid"/>
                                </a>
                            </div>
                            <p>
                                Effortless backups, uncompromised reliability.
                            </p>
                            <p class="copyright-text">
                                <span>© 2024 Plakar</span>
                            </p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="footer-widget f-link">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="/legal-notice">Legal notice</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="footer-widget newsletter">
                            <h5>Subscribe</h5>
                            <p>Subscribe to our newsletter for the latest updates</p>
                            <form action="/api/newsletter/subscribe" method="POST" target="_blank" class="newsletter-form">
                                <input name="email" placeholder="Email address" required="required" type="email"/>
                                <div class="button">
                                    <button class="sub-btn">
                                        <i class="lni lni-envelope"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
</footer>
<!--/ End Footer Area -->