{{ define "main" }}
{{ $riCornerDownRightLine := resources.Get "img/ri/corner-down-right-line.svg" }}
<!-- Title -->
<div class="section-wrapper bg-neutral-100"
     style="--pattern-fg: var(--color-neutral-300); --border-color: var(--color-neutral-300);">
    <section class="section-decorated  text-neutral-900 relative z-10  bg-neutral-100 mx-auto max-w-[1400px]">
        <div class="relative content md:px-12 h-64 flex items-center justify-center">
            <h1 class="text-5xl">Pricing placeholder</h1>
        </div>
    </section>
</div>
{{ end }}
