{{ define "main" }}
    {{ $riCornerDownRightLine := resources.Get "img/ri/corner-down-right-line.svg" }}

    <!-- Navbar placeholder -->
    <section class="section-light-2 grid-background">
        <div class="content md:px-12 h-[67px] md:h-[98px] ">
        </div>
    </section>

    <section class="section-light-2 grid-background ">
        <div class="bg-gradient-section-light-1 px-4 py-14 lg:py-28">
            <div class="content">
                <!-- Title -->
                <div class="flex flex-col gap-4 text-left pl-4">
                    <h1 class="text-4xl md:text-5xl font-medium font-space-grotesk leading-tight">
                        <span class="text-primary-500">Affordable</span> Backup, <span class="text-primary-500">Instant</span> Restore
                    </h1>
                    <p class="text-xl text-neutral-600 max-w-2xl">
                        Back up more frequently, granular restore in seconds. Low storage space is required by Plakar for an extended protection.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Operating system section -->
    <section class="section-light-1 py-3 lg:py-7">
        <div class="content">
            <div class="flex flex-col md:flex-row justify-between  items-center md:items-center py-10 px-8  gap-10">
                <div class="flex-1 ~text-2xl/4xl justify-start text-neutral-600 font-space self-center text-left md:text-left">
                    Plakar is <span class="text-secondary-500 font-medium">cross-platform</span>
                </div>
                <div class="grid grid-cols-2 gap-x-6 gap-y-4 md:flex md:justify-start md:items-center md:gap-6">
                    {{ range $brands := (slice "Linux" "MacOS" "OpenBSD" "FreeBSD" "Windows") }}

                        {{ $logoPath := printf "img/logo-technologies/logo-%s.png" (lower .) }}
                        {{ $logo := resources.Get $logoPath }}
                        {{ if $logo }}
                            <div class="flex justify-start items-center gap-2">
                                <div class="w-10 md:w-full md:h-10">
                                    <img src="{{ $logo.RelPermalink }}" alt="{{ . }}"
                                         class="w-full h-full object-contain rounded-sm">
                                </div>
                                <div class="">{{ . }}</div>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <!-- Feature Highlights -->
    <section class="section-light-2 py-14 lg:py-28">
        <div class="content space-y-10 p-4 flex flex-col gap-6">
            <div class="flex flex-col items-end text-right space-y-6 pl-4">
                <h2 class="~text-2xl/4xl font-medium font-space-grotesk text-center md:text-left">
                    Designed for modern infrastructure
                </h2>
                <p class="text-lg text-neutral-600 max-w-3xl">
                    Automate your protection workflows with simple CLI and API integration, whether for daily scheduling, scripting or full CI/CD pipelines.
                </p>
            </div>

            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-10 ">
                <!-- Block 1 -->
                <div class="text-center md:text-left space-y-2 bg-neutral-100 border border-primary-500 rounded-2xl p-4">
                    <h3 class="~text-lg/2xl font-semibold text-primary-500">CLI & API Friendly</h3>
                    <p class="text-neutral-700 font-space-text ~text-base/lg">
                        Built for DevOps teams. Automate backups or run them manually
                        with simple, powerful commands.
                    </p>
                </div>

                <!-- Block 2 -->
                <div class="text-center md:text-left space-y-2 bg-neutral-100 border border-primary-500 rounded-2xl p-4">
                    <h3 class="~text-lg/2xl font-semibold text-primary-500">Cloud & On-Prem Ready</h3>
                    <p class="text-neutral-700 font-space-text ~text-base/lg">
                        Works everywhere: object storage, local volumes, S3, NAS, and more.
                    </p>
                </div>

                <!-- Block 3 -->
                <div class="text-center md:text-left space-y-2 bg-neutral-100 border border-primary-500 rounded-2xl p-4">
                    <h3 class="~text-lg/2xl font-semibold text-primary-500">
                        Support any network isolation level
                    </h3>
                    <p class="text-neutral-700 font-space-text ~text-base/lg">
                        Push, pull, or bidirectional — Plakar handles sync even in
                        constrained, segmented, or air-gapped environments.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Fact -->
    <section class="section-primary-1 py-14 lg:py-28">
        <div class="content text-neutral-50">
            <div class="flex flex-col justify-between items-center md:items-center py-10 px-8  gap-3">
                <div class="flex-1 ~text-2xl/4xl justify-center font-space self-center text-center">
                    60% of organizations don’t trust their backups.
                </div>
                <div class="text-[0.6rem]">Unitrends: The State of Backup and Recovery Report 2025</div>
            </div>
        </div>
    </section>

    <!-- Problems - Solutions - Conclusion section -->
    <section class="section-light-1 px-4 py-14 lg:py-28">
        <div class="content flex flex-col gap-4 items-center">

                <div class="w-full md:w-4/6 bg-neutral-50 p-6 md:p-8 rounded-sm border border-neutral-300 space-y-6">
                    <h2 class="~text-xl/3xl font-medium font-space-grotesk text-neutral-900">
                        What’s broken in backup?
                    </h2>
                    <ul class="space-y-3 font-space-text list-icon-x text-neutral-900">
                        <li>Backups are too complex and often poorly maintained.</li>
                        <li>Each backup is expensive. Reducing restore points frequency.</li>
                        <li>Slow restores turn incidents into major production outages.</li>
                        <li>Security is often limited to "in-transit and at-rest" encryption.</li>
                    </ul>
                </div>

                <div class="flex justify-center items-center">
                    <svg class="w-8 h-8 md:w-24 md:h-24 text-primary-500 rotate-90" fill="none"
                         stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 5l7 7-7 7"/>
                    </svg>
                </div>

                <div class="w-full md:w-4/6  bg-neutral-50 p-6 md:p-8 rounded-sm border border-neutral-300 space-y-6">
                    <h2 class="~text-xl/3xl font-medium font-space-grotesk text-neutral-900">
                        Plakar changes the game
                    </h2>
                    <ul class="space-y-3 font-space-text list-icon-check text-neutral-900">
                        <li>Effortless backups via CLI, nice UI or API: powered by smart defaults.</li>
                        <li>Unmatched deduplication performances reduce cost and storage footprint.</li>
                        <li>Backups with context: Kloset makes them browsable and instantly restorable.</li>
                        <li>End-to-end encryption and immutable snapshots by design.</li>
                    </ul>
                </div>

                <div class="flex justify-center items-center">
                    <svg class="w-8 h-8 md:w-24 md:h-24 text-primary-500 rotate-90" fill="none"
                         stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 5l7 7-7 7"/>
                    </svg>
                </div>

                <div class="w-full md:w-4/6 bg-neutral-50 p-6 md:p-8 rounded-sm border border-neutral-300 space-y-6">
                    <h2 class="pl-4 ~text-xl/3xl font-medium font-space-grotesk text-neutral-900">
                        Plakar is
                    </h2>
                    <div class="flex flex-col gap-2 text-neutral-900 font-dm-mono items-start ~text-lg/2xl">
                        <ul>
                            <li>❤️ Loved by engineers for its simplicity.</li>
                            <li>💸 Chosen by budget owner for its low TCO.</li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>

    <!-- Security first -->
        <section class="section-dark-1 py-14 lg:py-28">
            <div class="content">
                <div class="pl4 flex flex-col md:flex-row w-full">
                    <div class="w-full md:w-1/2 p-5 space-y-10 pl-4 ~text-base/xl">
                        <div class="text-left space-y-3 pl-4">
                            <h2 class="~text-2xl/4xl font-medium font-space-grotesk text-center md:text-left">
                                Security by design
                            </h2>
                            <p class="text-lg text-neutral-600 max-w-3xl">
                                Reduce your attack surface by keeping encryption keys out of storage. With true end-to-end encryption, your data is protected before it leaves the source and remains unreadable even to your storage provider.
                            </p>
                        </div>
                        <ul class="space-y-3 list-icon-check font-space-text text-neutral-50">
                            <li>End-to-end encryption with modern crypto (no compromise on "at-rest/in-transit")</li>
                            <li>Immutable snapshots with verifiable integrity</li>
                            <li>Tamper-proof metadata and audit logs</li>
                            <li>Zero-trust-friendly architecture</li>
                        </ul>

                        <blockquote class="border-l-4 border-primary-500 pl-4 italic text-neutral-300 ~text-base/xl font-space-text relative">
                            <svg class="w-6 h-6 absolute -left-3 -top-2 text-primary-500" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M7.17 4C5.5 4 4 5.5 4 7.17V11h5V7.17C9 5.5 7.5 4 7.17 4zM13.17 4C11.5 4 10 5.5 10 7.17V11h5V7.17C15 5.5 13.5 4 13.17 4z"/>
                            </svg>
                            "You don’t have to trust your storage provider."
                        </blockquote>
                    </div>
                    <!-- Illustration -->
                    <div class="w-full md:w-1/2 flex items-center justify-end pt-4 md:pt-0">
                        {{ $security := resources.Get "img/security-first.png" }}
                        {{ $laptop := resources.Get "img/laptop-plakar-demo.png" }}
                        <img src="{{ $laptop.RelPermalink }}" alt="Placeholder"
                             class="w-full h-auto object-contain rounded-sm">
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Resilience Everywhere Section -->
        <section class="section-light-2 py-14 lg:py-28">
            <div class="content px-4 space-y-10">
                <!-- Intro -->
                <div class="text-left space-y-3 pl-4">
                    <h2 class="text-4xl font-medium font-space-grotesk leading-tight">Regroup all your data protection workflows in one platform</h2>
                    <p class="text-lg text-neutral-600 max-w-3xl">
                        From edge devices to SaaS platforms and hybrid clouds, Plakar keeps your data safe, synced, and instantly restorable: all from one unified tool.
                    </p>
                </div>

                <!-- Use cases -->
                <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-10 ">
                    <!-- Block 1 -->
                    <div class="text-center md:text-left space-y-2 bg-neutral-100 border border-primary-500 rounded-2xl p-4">
                        <h3 class="text-xl font-semibold text-primary-500 mb-2">For SaaS, endpoints & edge</h3>
                        <p class="text-neutral-700">
                            Whether you're backing up remote laptops, on-premise servers or third-party SaaS data, Plakar gives you full control. Immutable backups, minimal storage, full flexibility. Even in disconnected environments.
                        </p>
                    </div>
                    <!-- Block 2 -->
                    <div class="text-center md:text-left space-y-2 bg-neutral-100 border border-primary-500 rounded-2xl p-4">
                        <h3 class="text-xl font-semibold text-primary-500 mb-2">In your data center</h3>
                        <p class="text-neutral-700">
                            Legacy systems or critical data. All backed up with the same simplicity. Plakar integrates directly into your infrastructure with powerful CLI, orchestration support, and instant recovery.
                        </p>
                    </div>
                    <!-- Block 3     -->
                    <div class="text-center md:text-left space-y-2 bg-neutral-100 border border-primary-500 rounded-2xl p-4">
                        <h3 class="text-xl font-semibold text-primary-500 mb-2">Across clouds</h3>
                        <p class="text-neutral-700">
                            Cloud-native or multi-cloud? No problem. Plakar works seamlessly with object storage, S3-compatible services, and hybrid environments, without locking you in or slowing you down.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- CTA: Book a demo (dark version) -->
        <section class="section-dark-1 bg-neutral-900 py-14 lg:py-28">
            <div class="content px-6 flex flex-col items-center text-center gap-8">
                <!-- Title -->
                <h2 class="~text-2xl/5xl font-medium font-space-grotesk text-neutral-50 max-w-3xl">
                    Discover Plakar book a demo or join a community calls
                </h2>

                <!-- Text -->
                <p class="~text-base/xl text-neutral-300 opacity-80 font-space-text max-w-2xl leading-relaxed">
                <span class="block font-medium text-neutral-100">
                    Plakar is not another complex “backup project”.
                </span>
                    Gain peace of mind with little investment while protecting what matters.
                </p>

                <div class="text-neutral-900">
                <!-- Button -->
                {{ partial "cta/book-a-demo-button.html" . }}
                </div>
            </div>
        </section>
    </div>
{{ end }}