<nav class="flex flex-col gap-2 p-4" x-data="{ openSections: {} }">
    {{ $currentPage := . }}
    {{ $docsSection := .Site.GetPage "section" "docs" }}

    {{ if $docsSection }}
        {{ template "section-tree-nav" dict "sect" $docsSection "currentPage" $currentPage "depth" 0 "path" "root" }}
    {{ end }}
</nav>

{{ define "section-tree-nav" }}
    {{ $currentPage := .currentPage }}
    {{ $section := .sect }}
    {{ $depth := .depth }}
    {{ $path := .path }}

    {{ range $section.Pages.ByWeight }}
        {{ if .IsPage }}
            <a href="{{ .RelPermalink }}"
               class="block px-2 py-1 rounded font-space-text ~text-sm text-neutral-700 hover:text-primary-500 hover:bg-neutral-200
                {{ if gt $depth 0 }}ml-4 pl-2 border-l border-neutral-300{{ end }}
                {{ if eq $currentPage.RelPermalink .RelPermalink }}text-primary-600 bg-neutral-200 font-semibold{{ end }}">
                {{ .Title }}
            </a>
        {{ end }}
    {{ end }}

    {{ range $index, $subsection := $section.Sections.ByWeight }}
        {{ $uniquePath := printf "%s-%s-%d" $path $subsection.Title $index }}
        {{ $sectionId := replace $uniquePath " " "-" | lower }}
        <div class="my-1">
            {{ if gt (len .Pages) 0 }}
                <div
                        class="font-semibold px-2 py-1 text-neutral-800 flex items-center justify-between cursor-pointer hover:bg-neutral-200 rounded
                    {{ if gt $depth 0 }}ml-4{{ end }}"
                        @click="openSections['{{ $sectionId }}'] = !openSections['{{ $sectionId }}']"
                        :class="openSections['{{ $sectionId }}'] ? 'bg-neutral-100' : ''">
                    <div class="flex items-center gap-1">
                        <span class="ri-folder-line text-neutral-500"></span>
                        {{ .Title }}
                    </div>
                    <span class="text-neutral-500" x-show="!openSections['{{ $sectionId }}']">
                        <i class="ri-arrow-down-s-line"></i>
                    </span>
                    <span class="text-neutral-500" x-show="openSections['{{ $sectionId }}']">
                        <i class="ri-arrow-up-s-line"></i>
                    </span>
                </div>

                <div x-show="openSections['{{ $sectionId }}']"
                     x-transition:enter="transition ease-out duration-200"
                     x-transition:enter-start="opacity-0 transform -translate-y-2"
                     x-transition:enter-end="opacity-100 transform translate-y-0"
                     class="pl-2">
                    {{ template "section-tree-nav" dict "sect" $subsection "currentPage" $currentPage "depth" (add $depth 1) "path" $sectionId }}
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}