{{ $ctx := . }}
{{ if isset . "context" }}
    {{ with .context }}
        {{ $ctx = . }}
    {{ end }}
{{ end }}

{{ $badgeSize := 5 }}
{{ if isset . "badgeSize" }}
    {{ $badgeSize = $.badgeSize }}
{{ end }}

{{ if $ctx.Site.Params.bluesky.enabled | default false }}
    {{ $riBlueskyFill := resources.Get "img/ri/bluesky-fill.svg" }}
    {{ $blueskyAccount := $ctx.Site.Params.bluesky.account | default "" }}

    <a class="flex items-center space-x-2" href="https://bsky.app/profile/{{ $blueskyAccount }}" target="_blank"
       aria-label="Visit us on Bluesky">
        <span class="w-{{ $badgeSize }} h-{{ $badgeSize }}">{{ $riBlueskyFill.Content | safeHTML }}</span>
    </a>
{{ end }}
