{{ $riDiscordFill := resources.Get "img/ri/discord-fill.svg" }}
{{ if .Site.Params.discord.enabled | default false }}
    {{ $riDiscordFill := resources.Get "img/ri/discord-fill.svg" }}
    {{ $discordInviteCode := .Site.Params.discord.inviteCode | default "" }}
    <a class="flex items-center space-x-2" href="https://discord.gg/{{ $discordInviteCode }}" target="_blank"
       aria-label="Visit us on Discord">
        <span class="w-7 h-7">{{ $riDiscordFill.Content | safeHTML }}</span>
    </a>
{{ end }}
