{{ $ctx := . }}
{{ if isset . "context" }}
    {{ with .context }}
        {{ $ctx = . }}
    {{ end }}
{{ end }}

{{ $badgeSize := 5 }}
{{ if isset . "badgeSize" }}
    {{ $badgeSize = $.badgeSize }}
{{ end }}


{{ $riLinkedinFill := resources.Get "img/ri/linkedin-box-fill.svg" }}
{{ if $ctx.Site.Params.linkedin.enabled  | default false }}
    {{ $linkedinCompanyID := $ctx.Site.Params.linkedin.companyID | default "" }}
    <a class="flex items-center space-x-2" href="https://www.linkedin.com/company/{{ $linkedinCompanyID }}" target="_blank"
       aria-label="Visit us on LinkedIn">
        <span class="w-{{ $badgeSize }} h-{{ $badgeSize }}">{{ $riLinkedinFill.Content | safeHTML }}</span>
    </a>
{{ end }}
