{{ $ctx := . }}
{{ if isset . "context" }}
    {{ with .context }}
        {{ $ctx = . }}
    {{ end }}
{{ end }}

{{ $badgeSize := 5 }}
{{ if isset . "badgeSize" }}
    {{ $badgeSize = $.badgeSize }}
{{ end }}

{{ $shareText := "" }}
{{ if isset . "shareText" }}
    {{ $shareText = $.shareText }}
{{ end }}

{{ $shareURL := "" }}
{{ if isset . "shareURL" }}
    {{ $shareURL = $.shareURL }}
{{ end }}

{{ if $ctx.Site.Params.X.enabled | default false }}
    {{ $riXFill := resources.Get "img/ri/twitter-x-fill.svg" }}
    {{ $XAccount := $ctx.Site.Params.X.account | default "" }}

    {{ $href := "" }}
    {{ if $shareText }}
        {{ $href = printf "https://x.com/intent/tweet?text=%s" ($shareText | urlquery) }}
        {{ if $shareURL }}
            {{ $href = printf "%s&url=%s" $href ($shareURL | urlquery) }}
        {{ end }}
    {{ else }}
        {{ $href = printf "https://x.com/%s" $XAccount }}
    {{ end }}

    <a class="flex items-center space-x-2"
       href="{{ $href }}"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="Visit us on X">
    <span class="w-{{ $badgeSize }} h-{{ $badgeSize }}">
      {{ $riXFill.Content | safeHTML }}
    </span>
    </a>
{{ end }}
