{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="max-w-full prose dark:prose-invert">
    <div class="fixed inset-x-0 top-0" style="z-index:-10">
        {{ $homepageImage := "" }}
        {{ with .Site.Params.defaultBackgroundImage }}
        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $homepageImage = resources.GetRemote . }}
        {{ else }}
        {{ $homepageImage = resources.Get . }}
        {{ end }}
        {{ end }}
        {{ with .Site.Params.homepage.homepageImage }}
        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $homepageImage = resources.GetRemote . }}
        {{ else }}
        {{ $homepageImage = resources.Get . }}
        {{ end }}
        {{ end }}
        {{ if $homepageImage }}
        <img alt="Homepage" class="w-full h-[1000px] object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}"
             role="presentation">
        <div
                class="absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
        </div>
        <div
                class="opacity-60 absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
        </div>
        {{ end }}
    </div>
    <section class="py-12 px-6 bg-primary-800 text-white">
        <div class="container mx-auto max-w-7xl">
            <h1 class="text-4xl font-bold text-white">Effortless Open-Source Backup</h1>
            <p class="mt-4 text-lg font-bold">
                No more excuses, backup and secure your data in 30 seconds.
            </p>
            <p class="mt-2">
                Install Plakar (requires a Golang toolchain installed until first release)
            </p>
            <pre class="not-prose"><code class="bash hljs language-bash">$ go install github.com/PlakarKorp/plakar/cmd/plakar@latest</code></pre>
            <p class="mt-4">Backup your data</p>
            <pre class="not-prose"><code class="bash hljs language-bash">$ plakar create /safe/place
$ plakar on /safe/place backup /critical/data
$ plakar on /safe/place ls
2024-10-14T13:45:55Z  934f46ab      4 GB        9s /critical/data
$</code></pre>
            <p class="mt-4">Restore your data</p>
            <pre class="not-prose"><code class="text-sm text-gray-800">$ plakar on /safe/place restore 934f46ab
$ ls -l critical/data
total 0
drwxr-xr-x  21 gilles  staff  672 Oct 10 14:11 PlakarKorp
$</code></pre>
            <p class="mt-4">
                Alright, your data are safer! Now read our quick start and implement the 3-2-1 rule!
            </p>
            <br/>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                 role="alert">
                <b>WARNING:</b> Plakar is currently NOT production ready yet but it is most definitely
                stable enough to be tested by others.
            </div>
            <div class="bg-green-100 border border-green-400 text-green-800 p-4 rounded mt-4">
                <b>We expect to release a beta version by the end of January 2025. Subscribe to our
                    newsletter to stay updated!</b>
                <div class="mt-4">
                    <form action="/api/newsletter/subscribe" method="POST" target="_blank"
                          class="flex items-center space-x-4" id="newsletterForm">
                        <label for="email" class="text-green-800 whitespace-nowrap">Stay updated</label>
                        <div class="relative w-full max-w-md flex-1">
                            <input
                                    id="email"
                                    type="text"
                                    placeholder="Enter your email"
                                    class="w-full p-4 pr-16 rounded-r-lg rounded-l-lg border border-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
                            />
                            <button
                                    type="button"
                                    class="absolute inset-y-0 right-0 px-4 bg-blue-500 text-white font-semibold rounded-r-lg flex items-center justify-center hover:bg-blue-600"
                            >
                                <!-- Email Icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2"
                                     stroke="currentColor"
                                     class="w-6 h-6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z"
                                          fill="#080341"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-8">
                <a
                        href="https://docs.plakar.io/en/quickstart/"
                        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                >
                    Quick start
                </a>
            </div>
        </div>
    </section>
    <section id="about-frugal" class="py-12 px-6 bg-white text-black">
        <div class="container mx-auto max-w-7xl">
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-6">
                    <div class="block lg:ml-6 lg:mt-6 md:ml-3 md:mt-3 sm:ml-0 sm:mt-0">
                        <svg class="hidden md:block absolute shape lg:-ml-6 lg:-mt-6 md:-ml-3 md:-mt-3"
                             style="z-index:1" width="106" height="134" viewBox="0 0 106 134" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="132" r="1.66667" fill="#DADADA"/>
                        </svg>
                        {{ $imgHdStack := resources.Get "img/home/hd-stack.png" }}
                        <img class="relative md:max-h-max max-h-80 mx-auto" style="z-index:2"
                             src="{{ $imgHdStack.RelPermalink }}" alt="Hard drive stack"/>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6">
                    <h2 class="text-primary-700 title-dash">Frugal by design</h2>
                    <h3 class="fw-bold text-secondary-900">More restore points, less space</h3>
                    <p>Plakar maximizes storage usage, allowing you to create more restore points while
                        minimizing resource consumption.
                        Through advanced data deduplication and compression, our technology ensures your
                        storage needs are met in a cost-effective and environmentally conscious manner.
                        Experience the power of a frugal solution that delivers more restore points with
                        less storage.</p>
                    <h3 class="fw-bold text-secondary-900">Affordable off-cloud backups, anywhere</h3>
                    <p>Plakar makes backing up your data outside of its hosting cloud more affordable
                        than ever.
                        By minimizing egress network usage, we significantly reduce data transfer costs,
                        ensuring you can securely store backups off-cloud at a fraction of the usual
                        expense.
                        Additionally, our technology is optimized for environments with low bandwidth,
                        enabling reliable data backups even in regions with limited network capacity.
                        Plakar ensures your data is safe and accessible, no matter where you are.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about-adaptable" class="py-12 px-6 bg-gray-50 text-black">
        <div class="container mx-auto max-w-7xl">
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-6">
                    <h2 class="text-primary-700 title-dash">Adaptable by design</h2>
                    <h3 class="fw-bold text-secondary-900">Truly storage-agnostic with seamless deployment</h3>
                    <p>Plakar offers unparalleled flexibility, adapting effortlessly to any storage
                        medium you choose.
                        Whether it’s cloud-based storage, S3-compatible solutions, local servers, NAS,
                        SAN, or even tape drives,
                        Plakar integrates seamlessly, ensuring your data remains secure and easily
                        accessible across a wide range of storage environments.</p>
                    <h3 class="fw-bold text-secondary-900">Advanced distribution, even with limited
                        synchronization capabilities</h3>
                    <p>Plakar is designed with advanced distribution capabilities, making it adaptable
                        even in environments where repositories can only be synchronized through manual
                        push and pull operations.
                        Our solution ensures that, regardless of network constraints or limited access
                        to automated synchronization tools, you can still efficiently manage and
                        distribute backups.
                        Plakar’s architecture is optimized for such scenarios, allowing you to maintain
                        control over your data and its integrity across diverse and distributed
                        infrastructures.</p>
                </div>
                <div class="col-span-12 md:col-span-6">
                    <div class="relative">
                        <div class="block pl-6 lg:mt-6 md:mr-3 md:mt-3 sm:mr-0 sm:mt-0">
                            <svg class="hidden md:block absolute right-0 shape lg:-mr-3 lg:-mt-6 md:-mr-1 md:-mt-3"
                                 style="z-index:-1" width="106" height="134" viewBox="0 0 106 134" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="31" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="31" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="103" r="1.66667" fill="#DADADA"/>
                                <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA"/>
                                <circle cx="104" cy="132" r="1.66667" fill="#DADADA"/>
                            </svg>
                            {{ $imgDistributed := resources.Get "img/home/distributed-gray.png" }}
                            <img class="md:max-h-max max-h-80 mx-auto" style="z-index:2"
                                 src="{{ $imgDistributed.RelPermalink }}" alt="Distributed backup"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-secure" class="py-12 px-6 bg-white text-black">
        <div class="container mx-auto max-w-7xl">
            <div class="grid grid-cols-12">
                <div class="col-span-12 md:col-span-6">
                    <div class="block lg:ml-6 lg:mt-6 md:ml-3 md:mt-3 sm:ml-0 sm:mt-0">
                        <svg class="hidden md:block absolute lg:-ml-6 lg:-mt-6 md:-ml-3 md:-mt-3" style="z-index:1"
                             width="106" height="134" viewBox="0 0 106 134" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="31" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="103" r="1.66667" fill="#DADADA"/>
                            <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA"/>
                            <circle cx="104" cy="132" r="1.66667" fill="#DADADA"/>
                        </svg>
                        {{ $imgSecure := resources.Get "img/home/secure.png" }}
                        <img class="relative md:max-h-max max-h-80 mx-auto" style="z-index:2"
                             src="{{ $imgSecure.RelPermalink }}" alt="Data security"/>
                    </div>
                </div>
                <div class="col-span-12 md:col-span-6">
                    <h2 class="text-primary-700 title-dash">Security and reliability</h2>
                    <h3 class="fw-bold text-secondary-900">Robust data protection and encryption</h3>
                    <p>Plakar prioritizes data security, using end-to-end encryption to protect your
                        backups at every stage.
                        Whether your data is at rest or in transit, our solution applies advanced
                        encryption algorithms to safeguard against unauthorized access and ensure data
                        confidentiality.</p>
                    <h3 class="fw-bold text-secondary-900">Ideal for regulated environments</h3>
                    <p>Plakar is built for compliance in regulated industries, providing the tools
                        necessary to manage and protect sensitive data with integrity.
                        With continuous integrity checks and robust monitoring capabilities, Plakar
                        ensures that your data remains reliable and unaltered,
                        giving you confidence that your backups are always secure and compliant with the
                        highest standards of data management.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="prose dark:prose-invert">{{ .Content }}</section>
</article>
<section>
    {{ partial "recent-articles/main.html" . }}
</section>
{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur"
     class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>
<script>
    window.addEventListener('scroll', function (e) {
        let scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        let background_blur = document.getElementById('background-blur');
        background_blur.style.opacity = (scroll / 300)
    });
</script>
{{ end }}
