{{ if .Site.Params.header.showGithubBadge | default false }}
{{ $githubOrganization := .Site.Params.github.organization | default "" }}
{{ $githubRepository := .Site.Params.github.repository | default "" }}
<a class="github-stars flex items-center space-x-2" href="https://github.com/{{$githubOrganization}}/{{$githubRepository}}"
   target="_blank" aria-label="Visit us on Github">
    <i class="ri-github-fill hover:bluesky-color text-xl hover:text-tertiary-500"></i>
    <span id="github-stars-count" data-github-stars data-organization="{{$githubOrganization}}" data-repository="{{$githubRepository}}"></span>
</a>
{{ end }}