{{ range .GetTerms "authors" }}
    {{ $authorKey := .Page.File.TranslationBaseName | default .Title | urlize }}
    {{ $authorData := index site.Data.authors $authorKey }}

    <div class="author-profile">
        <img src="{{ $authorData.avatar }}" alt="{{ $authorData.name }}">
        <h3>{{ $authorData.name }}</h3>
        <p>{{ $authorData.bio }}</p>
        <ul>
            {{ range $authorData.links }}
                <li><a href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
        </ul>
    </div>
{{ end }}
