<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--main-compiled.css -->
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@studio-freight/lenis"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<link href="/fonts/remixicon/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="/vendor/basiclightbox/basicLightbox.min.css">
<script src="/vendor/basiclightbox/basicLightbox.min.js"></script>

<style>
    [x-cloak] { display: none !important; }
</style>

{{ if .Site.Params.github.enabled | default false }}
    {{ $githubOrganization := .Site.Params.github.organization | default "" }}
    {{ $githubRepository := .Site.Params.github.repository | default "" }}

    <script>
        async function fetchGitHubStars() {
            const url = `https://api.github.com/repos/{{$githubOrganization}}/{{$githubRepository}}`;

            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error("GitHub API request failed");
                }
                const data = await response.json();
                document.querySelectorAll(`#github-stars-count`)
                    .forEach((element) => {
                        element.textContent = data.stargazers_count;
                    });
            } catch (error) {
                console.error("Error fetching GitHub data:", error);
            }
        }

        fetchGitHubStars();
    </script>
{{ end }}
{{ if .Site.Params.GoogleAnalytics.enabled | default false }}
    {{ partial "analytics/ga.html" . }}
{{ end }}
{{ if .Site.Params.axeptio.enabled | default false }}
    <script>
        window.axeptioSettings = {
            clientId: "{{ .Site.Params.axeptio.clientId | default "" }}",
            cookiesVersion: "{{ .Site.Params.axeptio.cookiesVersion | default "" }}",
            googleConsentMode: {
                default: {
                    analytics_storage: "denied",
                    ad_storage: "denied",
                    ad_user_data: "denied",
                    ad_personalization: "denied",
                    wait_for_update: 500
                }
            }
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{{ end }}
