{{/*<nav>
    <ul>
        {{ $site := .Site }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li>
                    <strong>{{ .Name }} / {{.Identifier }} // {{.Children}} // {{ where $site.Menus.main "Params.Parent" .Identifier }}</strong>

                    {{ $children := where $site.Menus.main "Params.Parent" .Identifier }}
                    {{ if .Children }}
                        <ul>
                            {{ range .Children }}
                                <li>
                                    <a href="{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>*/}}

<nav id="main-nav" class="hidden md:flex relative items-center h-[62px]">
    {{ $currentPage := . }}

    {{ range where .Site.Menus.main "Parent" "" }}
        {{ $top := . }}
        <div class="group/btn relative dropdown-group">
            <button class="dropdown-btn px-2 text-gray-700 font-space-text hover:text-primary-500 inline-flex items-center gap-1 ~text-sm/lg">
                {{ .Name }}
                <span class="dropdown-chevron">
          <svg class="w-4 h-4 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
          </svg>
        </span>
            </button>

            {{ $children := where $currentPage.Site.Menus.main "parent" $top.Identifier }}
            <p>children; {{$children}} // {{$top.Identifier}} // {{ $top.Identifier }}</p>
            {{ if $children }}
                <div class="dropdown-menu absolute top-full mt-4 pt-2 hidden z-50">
                    <div class="flex flex-wrap items-start py-8 px-4 bg-white shadow-lg border border-neutral-200 rounded-2xl ~text-sm/base">

                        {{ range $section, $items := ($children | group "Params.section") }}
                            <div class="w-1/2 lg:w-1/3 flex flex-col gap-6">
                                <div class="flex gap-1 text-primary-500 font-space-text ~text-xs/base">
                                    <span>{{ $section }}</span>
                                </div>
                                <div class="flex flex-col gap-2">
                                    {{ range sort $items "Weight" }}
                                        <a href="{{ .URL | relLangURL }}" class="group/link flex items-center gap-2 p-2 rounded-lg hover:bg-neutral-100">
                                            <div class="w-10 h-10 bg-neutral-100 text-neutral-600 group-hover/link:bg-white group-hover/link:text-primary-500 flex justify-center items-center rounded-lg">
                                                {{ with .Params.icon }}
                                                    {{ $icon := printf "img/ri/%s.svg" . }}
                                                    {{ with resources.Get $icon }}
                                                        <span class="w-6 h-6">{{ .Content | safeHTML }}</span>
                                                    {{ end }}
                                                {{ end }}
                                            </div>
                                            <div class="flex-1">
                                                <div class="text-neutral-900 font-space-text font-semibold">{{ .Name }}</div>
                                                {{ with .Params.description }}
                                                    <div class="text-neutral-400 font-space-text ~text-xs/sm">{{ . }}</div>
                                                {{ end }}
                                            </div>
                                        </a>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}

                        {{ partial "header/menu-featured-article.html" . }}

                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}
</nav>