<script>
    var menuButton = document.getElementById("menu-button");
    var menuCloseButton = document.getElementById("menu-close-button");
    var menuMobile = document.getElementById("menu-mobile");

    var menuOpen = false;

    var openMenu = function (e) {
        if (!menuOpen) {
            menuOpen = true;
            document.body.style.overflowY = "hidden";
            menuButton.classList.add("hidden");
            menuMobile.classList.remove("hidden");
            // animation
            requestAnimationFrame(() => {
                menuMobile.classList.remove("opacity-0", "scale-95");
                menuMobile.classList.add("opacity-100", "scale-100");
            });
            window.onbeforeunload = function (event) {
                closeMenu()
            }
        }
    };

    var closeMenu = function (e) {
        if (menuOpen) {
            menuOpen = false;
            document.body.style.overflowY = "auto";
            menuButton.classList.remove("hidden");

            // animate before hiding
            menuMobile.classList.add("opacity-0", "scale-95");
            menuMobile.classList.remove("opacity-100", "scale-100");

            setTimeout(() => {
                menuMobile.classList.add("hidden");
            }, 300);
            window.onbeforeunload = function (event) {
            }
            e.stopPropagation();
        }
    }

    menuButton.addEventListener("click", openMenu);
    menuCloseButton.addEventListener("click", closeMenu);

</script>



<script>
    document.querySelectorAll('.accordion-toggle').forEach((toggle) => {
        toggle.addEventListener('click', function () {
            const content = this.nextElementSibling;
            const alreadyOpen = !content.classList.contains('hidden');

            // Close all
            document.querySelectorAll('.accordion-content').forEach((el) => {
                el.classList.add('hidden');
                el.previousElementSibling.querySelector('svg').classList.remove('rotate-180');
            });

            // Toggle current
            if (!alreadyOpen) {
                content.classList.remove('hidden');
                this.querySelector('svg').classList.add('rotate-180');
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.tab-button');
        const panels = document.querySelectorAll('.tab-panel');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const tabId = button.getAttribute('data-tab');

                buttons.forEach(btn => btn.classList.remove('active-tab'));
                panels.forEach(panel => panel.classList.add('hidden'));

                button.classList.add('active-tab');
                document.getElementById(`tab-${tabId}`).classList.remove('hidden');
            });
        });
    });
</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


